# -*- coding: utf-8 -*-
# Settings used by weather.py
""" Constants used in weather.py """
# This is your Dark Sky API key
DS_API_KEY = 'yourkeyhere'

# Seconds between API calls.
# Note: the free Dark Sky access only allows for 1,000 calls / day
#       aka a check ~ every 1.44 minutes
DS_CHECK_INTERVAL = 300 # 5 minutes

# The location you want to check
# 33.7490° N, 84.3880° W == Atlanta, GA
LAT = 33.7490
LON = -84.3880

# Set units based on the `units` section of
# https://darksky.net/dev/docs
# Valid values are: 'ca', 'si', uk2', and 'us'
UNITS = 'us'

# Full screen is for when this is running on a TV or
# similar device with a much higher resolution.
FULLSCREEN = False

# If the weather icons are overlapping the text try adjusting
# this value. Negative values raise the icon.
LARGE_ICON_OFFSET = -23.5
