# this file is managed by Puppet
[Unit]
Description=PiWeatherRock Service
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/PiWeatherRock
Environment='DISPLAY=:0'
ExecStart=/home/pi/PiWeatherRock/scripts/pwr-ui -c /home/pi/PiWeatherRock/config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target