# this file is managed by Puppet
[Unit]
Description=PiWeatherRock Config Service
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/PiWeatherRock
Environment='DISPLAY=:0'
ExecStart=/usr/bin/python3 /home/pi/PiWeatherRock/config_page.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
